*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    
    
}

nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    margin: 0 50px;
    

}

nav a{
    color: white;
    padding: 12px;
    text-decoration: none;
    
    
}

main{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    overflow: auto;
    
}

section{
    scroll-snap-align: center;
    height: 100vh;
    padding: 80px;
}

#orange{ 
    background-color: orange;
    background-image: url(./images/beach.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

}
#peru{ background-color: peru;}
#royalblue{ background-color: royalblue;}
    


